#chat-screen {
  background-color: cornsilk;
  height: 500vh;
}

#chat-screen .status-bar {
  top: 0;
  width: 100%;
  background-color: cornsilk;
  position: fixed;
  z-index: 2;
  box-sizing: border-box;
}

#chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: cornsilk;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translatex(-80px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row__other {
  animation: fadeInLeft 0.6s linear;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translatex(80px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row__own {
  animation: fadeInRight 0.6s linear;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  height: 50px;
  width: 50px;
  border-radius: 40%;
  margin-right: 10px;
}
.message__author {
  margin-bottom: 5px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time,
.message__author {
  color: var(--grey);
  font-size: 15px;
}

.message-row__own {
  justify-content: flex-end;
}

.message-row__own .message__bubble {
  background-color: var(--yellow);
  border-radius: 15px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 5px;
}
.message-row__own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.reply i {
  color: var(--grey);
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 14px;
  width: 100%;
  border: var(--main-border-line);
  border-radius: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 5px;
}

.reply__column:last-child > i {
  right: 50px;
  top: 13px;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button i {
  color: black;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus-within {
  width: 98vw;
  transform: translateX(-13%) translatey(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
