@keyframes move {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}
.welcome-header {
  margin-top: 130px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: move 0.5s linear;
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome-header__text {
  width: 60%;
  color: gray;
}

.paws {
  font-size: 20px;
  color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 150px;
}
@keyframes footprint {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.paws-paw {
  animation: footprint 2s infinite;
}
.paw-first {
  position: absolute;

  transform: rotateZ(200deg);
}
.paw-second {
  position: absolute;
  margin-top: 50px;
  margin-left: 30px;
  transform: rotateZ(120deg);
  animation-delay: 0.2s;
}
.paw-third {
  position: absolute;
  margin-top: 100px;
  margin-right: 40px;
  transform: rotateZ(180deg);
  animation-delay: 0.4s;
}
.paw-fourth {
  position: absolute;
  margin-top: 130px;
  transform: rotateZ(200deg);
  animation-delay: 0.6s;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  border: none;
  font-size: 18px;
  padding: 15px 0px;
  margin-bottom: 25px;
  border-radius: 5px;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
#login-form input:focus:not([type="submit"]) {
  border-color: var(--yellow);
}
#login-form input:focus {
  border-color: var(--yellow);
}
#login-form input[type="submit"] {
  background-color: #6af2e5;
  cursor: pointer;
  font-size: 17px;
}
#login-form a {
  color: inherit;
  opacity: 0.7;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}
