#no-mobile {
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
@keyframes moves {
  from {
    opacity: 0;
    transform: translateY(30px);
    font-size: 5px;
  }
  to {
    opacity: 1;
    transform: none;
    font-size: none;
  }
}
#no-mobile span {
  position: absolute;
  font-size: 50px;
  font-family: fantasy;
  z-index: 99;
  animation: moves 0.5s linear;
}
#no-mobile img {
  height: 100vh;
  width: 100vw;
  z-index: 80;
  position: absolute;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
